body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo img {
    height: 50px;
    transition: transform 0.3s;
    padding: 0%;
  }
  .logo img:hover {
    transform: scale(1.13);
  }
.navigation  {
    color: white;
    background-color: #cc5848;
    border: #cc5848 15px solid;
    border-radius: 20px;
    border-left: 0px;
    border-top: 20px;
    border-bottom: 20px;
    border-right: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-items: center;
    display: flex;
    
}
.navigation ul {
list-style-type: none;
display: inline-block;
}
.navigation li {
    display: inline-block;
    
}

ul{
    padding: 0px;
}
.navigation a {
    margin: 0 15px;
    padding: 10px 20px;
    color: white;
    background-color: #cc5848;
    border: #92303e 1px solid;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold; 
    box-shadow: 0 5px 8px rgba(0, 5, 0, 0.3);
    transition: transform 0.9s, box-shadow 0.3s;
}

.navigation a:hover {
    background-color: #92303e;
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: justify;
    padding: 20px;
}
.main-header .logo {
position: relative;
}
.main-header .logo .bg {
    height: 50px;
    width: 320px;
    padding: 20px;
    background-color: #b25141;
    opacity: 0.7;
    border-top-right-radius: 72px ;
    border-bottom-right-radius: 72px;
    border-bottom-left-radius: 51px;
}
.main-header .logo img {
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 20px;
}
.content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
h1{
    display: flex;
    justify-content:center ;
    margin: 3%;
   font-size: 400%;;
  }
.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.description {
    margin-left: 20px;
    max-width: 500px;
}
.description h2 {
    margin-bottom: 10px;
}
.description p {
    line-height: 1.6;
}
.video-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.video-wrapper::after {
    
    display: flex;
    padding-top: 56.25%;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer {
    background: linear-gradient(120deg, rgb(61, 60, 132), rgb(100, 62, 146));
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
    margin-top: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .footer-text {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  