body {
   background: linear-gradient(120deg, rgb(73, 106, 156) 10%, rgb(133, 94, 182) 70%
   ,rgb(213, 199, 231) );
  margin: 0;
  padding: 0;
}
.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 2%;
  background-color: rgba(34, 23, 16, 0.6);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 40px;
}

.image-container {
  background: linear-gradient(160deg, rgb(51, 50, 114) 0%, 
rgb(89, 33, 115) 35%, rgb(211, 93, 117) 100%);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-container:hover {
  transform: translateY(-30px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.image-container img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.image-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.image-container p {
  font-size: 1rem;
  color: #e0e0e0;
}
